html{
    font-size: 62.5%;
}

.centrartitulo{
    text-align:center;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
img {
    max-width: 100%;
}
.contenedor{

    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;    
}

h2 {
    font-size: 3.4rem;    
}

h3 {
    font-size: 3rem;    
}

h4 {
    font-size: 2.6rem;    
}

/*Utilidades*/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}




/*Boton*/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    margin-top: 3rem;
    display: inline-block;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton-verde {
    background-color: #71B100;
}


/*Header*/
.site-header.inicio {
    background-color: #ffffff;
    padding: 0 0 3rem 0;
} 


.contenido-header{
height: 100%;
display: flex;  
flex-direction: column;
justify-content: space-between; 
text-align: center;
 
}
@media (min-width: 768px) {
    .contenido-header{
        text-align: left;
    }
}

.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 70rem;
    line-height: 1.5;
}

.barra {
    padding-top: 3rem;
   
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*Navegacion*/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

.navegaciones a{
    color: #000000;
    text-decoration: none;
    font-size: 1.9rem;
    margin-right: 2rem;
    
}

.navegacion a:hover {
    color: #F47920;
}

.navegaciones a:hover {
    color: #F47920;
}

.navegacion a:last-of-type {
    margin: 0;
}


/** Iconos Nosotros **/
@media (min-width: 768px) {

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}
}

.icono {
    text-align: center;
}

@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
    }
}
.icono h3 {
    text-transform: capitalize;
}

/*Videos*/
@media (min-width: 768px){
    .contenedor-video {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      
    }
}

.video {
   
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
    
}

@media (min-width: 768px){
    .video {
        flex-basis: calc(33.3% - 1rem);
    } 
}

    .contenido-video span{
        color: #E08709;
    }

    .contenido-video {
        padding: 2rem;
    }


    
    .contenido-video h3,
    .contenido-video p{
        margin: 0;
    }
    .ver-todos {
        display: flex;
        justify-content: flex-end;
    }




/*Contacto Home*/
.imagen-contacto {
    background-image: url(../img/barra2.JPG);
    background-position: center center;
    background-size: cover;
    height: 21rem;
    display: flex;
    align-items: center;
}
.contenido-contacto {
    flex: 1;
    color:#ffffff;
}
.contenido-contacto {
    font-size: 1.8rem;
}
/*Footer*/

.site-footer {
    
    background-color: #231F18;
    margin: 0;
   
}

.logounad{
    
    width: 150px;
		
		
}
.contenedor-footer {
    
    padding: 3rem 0;
    text-align: center;
}

@media (min-width: 768px){
    .contenedor-footer {
        display: flex;
        justify-content: space-evenly;
    }
}

.site-footer nav {
    display: none;
}
@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }
}

.copyright {
    margin: 0;
    color:#ffffff
}

/*Internas*/
.contenido-nostros {
    text-align: justify;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem ;
}

.textos-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

.contenedor-fase1 {
    background-color: #333333;
    margin: 0;
    color:#ffffff;
    font-size: 3rem ;
    
}

.contenedor-fase1 a{
    color: #ffffff;
    
}
@media (min-width: 768px){
    .contenido-conceptos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        
    }
}


.textos-conceptos  {
    text-align: justify;
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

.imagen-concepto {
    position: relative;
    top: 2em;
    
}



@media (min-width: 768px){
    .entrada-blog {
        padding-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid #e1e1e1;
        text-align: justify;
    
    }
}



.entrada-blog:last-of-type {
    margin-bottom: 0;
}
.imagen {
    position: relative;
    
}

.entrada-blog .imagen {
    flex-basis: 30%;
    
}
.entrada-blog .texto-entrada {
    flex-basis: calc(50% - 20rem);
    margin: 0;
}

.texto-entrada a {
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}



.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}
.texto-entrada span {
    color: #E08709;
}


.autor {
    padding-top: 2rem;
    padding-bottom: 6rem;
     
}
.autor:last-of-type {
    border-bottom: none;
}
.autor p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.autor p span,
.autor p.descripcion  {
    font-weight: 400;
}

.no-margin {
    margin: 0;
}

/** Grid **/
@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
   
    .autor-4 {
       flex-basis: calc(50% - 20rem);
    }
    
    .autor-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
    
}

.contenido-widget {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
}

/** Contacto **/
.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 98%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 20rem;
}
.forma-contacto {
    max-width:30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}